* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
.App {
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  text-transform: uppercase;
  text-align: center;
  margin: 40px;
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70vw;
}
.each-pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 2px;
  border-radius: 20px;
  padding: 10px;
  margin: 30px;
  width: 180px;
  height: 250px;
}
.name-poke {
  text-transform: uppercase;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.img-poke {
  border: solid red 2px;
  border-radius: 20px;
  background-color: pink;
  margin: 10px 0 10px 0;
}
.evolution-poke {
  text-transform: capitalize;
  color: grey;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 10px;
}
.type-poke {
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin-top: 5px;
}
