@import "core/reset";
@import "layout/_PokeList";
@import "layout/_Pokemon";

.page {
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    text-transform: uppercase;
    text-align: center;
    margin: 40px;
  }
}
